Repository andrewknoesen/games_rule_chatbot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-release-notes

.pre-commit-config.yaml:

default_language_version:
  python: python3.10

default_stages:
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # Python Checks
      - id: check-ast
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer
      - id: check-builtin-literals
      # Config Hooks
      - id: check-xml
      - id: check-yaml
      # General Hooks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # Git related hooks
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - "--branch=main"
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.21
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy --strict --config-file pyproject.toml
        language: system
        files: \.py$
        types: [python]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.1
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
        stages: [pre-commit]
      # Run the formatter.
      - id: ruff-format
        stages: [pre-commit]
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: uv run pytest
  #       language: system
  #       pass_filenames: false
  #       always_run: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  # python static code analysis
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]
        additional_dependencies: [".[toml]"]
  - repo: local
    hooks:
      - id: validate-release-notes
        name: Validate release notes
        entry: .hooks/validate_release_notes.sh
        language: script
        files: ^libs/.*/RELEASE\.md$

use env files for postgres login details
  libs/core/RELEASE.md
  libs/core/pyproject.toml
  libs/core/src/postgres/session.py
  libs/core/uv.lock
Due: mypy, validate-release-notes

removed extra in sqlmodel
  libs/core/RELEASE.md
  libs/core/pyproject.toml
  libs/core/src/postgres/models/models.py
  libs/core/uv.lock
Due: mypy, validate-release-notes

fixed models
  charts/app/templates/postgresql-schema-configmap.yaml
  libs/core/RELEASE.md
  libs/core/pyproject.toml
  libs/core/src/postgres/models/models.py
  libs/core/uv.lock
  pyproject.toml
  uv.lock
Due: mypy, validate-release-notes

update wheels flow
  .github/workflows/build-wheel.yaml
Due: none

fixed wheel actions
  .github/workflows/build-wheel.yaml
Due: none

brought models into api
  libs/api/RELEASE.md
  libs/api/pyproject.toml
  libs/api/src/rules_api/main.py
  libs/api/src/rules_api/models/game.py
  libs/api/src/rules_api/routers/games.py
  libs/api/uv.lock
  uv.lock
Due: mypy, validate-release-notes

updated workflow
  .github/workflows/build-wheel.yaml
Due: none

fix action
  .github/workflows/build-wheel.yaml
Due: none

chore(deps): update github artifact actions
  .github/workflows/build-wheel.yaml
Due: none

pulled in login secret from postgres
  charts/app/charts/api/values.yaml
  docker/api/.dockerignore
  docker/api/bin/build_docker.sh
  docker/api/bin/start_api.sh
  docker/api/pyproject.toml
  docker/api/uv.lock
Due: none

updated charts to read postgres
  charts/app/charts/api/templates/deployment.yaml
  charts/app/charts/api/values.yaml
  charts/app/values.yaml
Due: none

removed typo in values
  charts/app/values.yaml
Due: none

fixed deployment template
  charts/app/charts/api/templates/deployment.yaml
  charts/app/charts/api/values.yaml
  charts/app/values.yaml
Due: none

bumped docker version and pull new image
  charts/app/charts/api/Chart.yaml
  docker/api/pyproject.toml
  docker/api/uv.lock
Due: none

fixed sqlmodel
  libs/api/uv.lock
  libs/core/RELEASE.md
  libs/core/pyproject.toml
  libs/core/src/postgres/models/models.py
  libs/core/uv.lock
  uv.lock
Due: mypy, validate-release-notes

fixed models
  libs/api/pyproject.toml
  libs/api/src/rules_api/api/api.py
  libs/api/src/rules_api/exceptions/exceptions.py
  libs/api/src/rules_api/routers/games.py
  libs/core/src/postgres/models/models.py
  uv.lock
Due: mypy

updated release.md
  docker/api/pyproject.toml
  libs/api/RELEASE.md
Due: validate-release-notes

bumped docker image, didn't build lock file
  docker/api/pyproject.toml
  docker/api/uv.lock
Due: none

import latest api image for chart
  charts/app/charts/api/Chart.yaml
Due: none

increased delay for readiness and liveness probe
  charts/app/charts/api/values.yaml
Due: none

Update all dependencies
  .github/workflows/build-docker-image.yaml
  .github/workflows/build-wheel.yaml
  .github/workflows/renovate.yaml
Due: none

restructured packages and optimised the deployment pipeline
  .github/workflows/deploy.yaml
  libs/api/RELEASE.md
  libs/api/bin/start_api.sh
  libs/api/pyproject.toml
  libs/api/src/games_rule_api/__init__.py
  libs/api/src/games_rule_api/api/__init__.py
  libs/api/src/games_rule_api/api/api.py
  libs/api/src/games_rule_api/api/config.py
  libs/api/src/games_rule_api/dependencies/__init__.py
  libs/api/src/games_rule_api/dependencies/db.py
  libs/api/src/games_rule_api/exceptions/exceptions.py
  libs/api/src/games_rule_api/main.py
  libs/api/src/games_rule_api/models/__init__.py
  libs/api/src/games_rule_api/models/game.py
  libs/api/src/games_rule_api/models/health.py
  libs/api/src/games_rule_api/py.typed
  libs/api/src/games_rule_api/routers/__init__.py
  libs/api/src/games_rule_api/routers/games.py
  libs/api/src/games_rule_api/routers/health.py
  libs/api/src/games_rule_api/routers/settings.py
  libs/core/RELEASE.md
  libs/core/pyproject.toml
  libs/core/src/games_rule_core/__init__.py
  libs/core/src/games_rule_core/postgres/__init__.py
  libs/core/src/games_rule_core/postgres/config.py
  libs/core/src/games_rule_core/postgres/main.py
  libs/core/src/games_rule_core/postgres/models/__init__.py
  libs/core/src/games_rule_core/postgres/models/models.py
  libs/core/src/games_rule_core/postgres/reader/__init__.py
  libs/core/src/games_rule_core/postgres/reader/main.py
  libs/core/src/games_rule_core/postgres/reader/reader.py
  libs/core/src/games_rule_core/postgres/session.py
  libs/core/src/games_rule_core/postgres/writer/__init__.py
  libs/core/src/games_rule_core/postgres/writer/main.py
  libs/core/src/games_rule_core/py.typed
  pyproject.toml
  uv.lock
Due: mypy, validate-release-notes

updated docker image
  charts/app/charts/api/Chart.yaml
  docker/api/bin/build_docker.sh
  docker/api/main.py
  docker/api/pyproject.toml
  docker/api/uv.lock
Due: mypy

chore(deps): update all dependencies
  .github/workflows/renovate.yaml
Due: none

chore(deps): update all dependencies to v6
  .github/workflows/build-docker-image.yaml
  .github/workflows/build-wheel.yaml
  .github/workflows/renovate.yaml
Due: none

chore(deps): update all dependencies (#22)
  .github/workflows/renovate.yaml
Due: none

chore(deps): update renovatebot/github-action action to v44.0.4
  .github/workflows/renovate.yaml
Due: none

chore(deps): update renovatebot/github-action action to v44.0.4 (#24)
  .github/workflows/renovate.yaml
Due: none

chore(deps): update all dependencies (#25)
  .github/workflows/renovate.yaml
Due: none

chore(deps): update all dependencies
  .github/workflows/renovate.yaml
  charts/cluster_infra/postgresql_infra/Chart.yaml
Due: none

chore(deps): update all dependencies (#26)
  .github/workflows/renovate.yaml
  charts/cluster_infra/postgresql_infra/Chart.yaml
Due: none

chore(deps): update renovatebot/github-action action to v44.2.0
  .github/workflows/renovate.yaml
Due: none

chore(deps): update renovatebot/github-action action to v44.2.0 (#28)
  .github/workflows/renovate.yaml
Due: none

chore(deps): update renovatebot/github-action action to v44.2.1
  .github/workflows/renovate.yaml
Due: none

chore(deps): update renovatebot/github-action action to v44.2.1 (#29)
  .github/workflows/renovate.yaml
Due: none
